@model iQurban.Models.User

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="USERID" />
            <div class="form-group">
                <label asp-for="PASSWORD" class="control-label"></label>
                <input asp-for="PASSWORD" class="form-control" />
                <span asp-validation-for="PASSWORD" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FIRST_NAME" class="control-label"></label>
                <input asp-for="FIRST_NAME" class="form-control" />
                <span asp-validation-for="FIRST_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LAST_NAME" class="control-label"></label>
                <input asp-for="LAST_NAME" class="form-control" />
                <span asp-validation-for="LAST_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMAILID" class="control-label"></label>
                <input asp-for="EMAILID" class="form-control" />
                <span asp-validation-for="EMAILID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PHONE" class="control-label"></label>
                <input asp-for="PHONE" class="form-control" />
                <span asp-validation-for="PHONE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ACCESS_LEVEL" class="control-label"></label>
                <input asp-for="ACCESS_LEVEL" class="form-control" />
                <span asp-validation-for="ACCESS_LEVEL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="READ_ONLY" class="control-label"></label>
                <input asp-for="READ_ONLY" class="form-control" />
                <span asp-validation-for="READ_ONLY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WRITE_ACCESS" class="control-label"></label>
                <input asp-for="WRITE_ACCESS" class="form-control" />
                <span asp-validation-for="WRITE_ACCESS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

